<div class="col-12 about">
    <h1>About Splurty</h1>
   <p>
    Splurty was built by <a target="_blank" href="https://twitter.com/benaffleck">Ben</a> & <a target="_blank" href="https://twitter.com/robpattinsonww?lang=en&lang=en">Robert</a>. Two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality. </p>
  <p>
    In the name of his murdered parents, Bruce Wayne wages eternal war on the criminals of Gotham City. He is vengeance. He is the night. He is Batman.
  </p>
  <p>
    If you want to learn how - start <a target="_blank" href="https://www.dccomics.com/characters/batman"> here</a>.
  </p>

  <br class="clear" />

  <div class="row">
      <div class="col-12 col-sm-3 center">
        <%= image_tag 'ben.jpg', class: 'img-fluid bio_pic' %>
      </div>

      <div class="col-12 col-sm-8 offset-sm-1">
        <h2 class="text-left bio_padding"> Ben Affleck </h2>
        <p> Ben Affleck just started playing Batman two years ago, but it seems he’s just about ready to retire as the character. Over the past few months, the evidence that Affleck won’t be Batman for much longer has piled up. Now, it’s been all but confirmed that Justice League will have been his final time depicting the Caped Crusader. </p>
        <p> So what has been the evidence that Affleck is ready to stop playing Batman? </p>
      </div>
  </div>

  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-3 center">
      <%= image_tag 'pat.jpg', class: 'img-fluid bio_pic' %>
    </div>

    <div class="col-12 col-sm-8 offset-sm-1">
      <h2 class="text-left bio_padding"> Robert Pattinson </h2>
      <p> Robert Pattinson is the new Batman, and fans have mixed feelings about the young star wearing the cape. </p>
      <p> Rumors had been flying faster than a Batarang about who’s going to play the next Batman since Ben Affleck isn’t returning. It came down to a seeming close call between Robert Pattinson and Nicholas Hoult. Of course, with both being British, it created social media debates about whether a Brit should play Batman. </p>
    </div>
  </div>
</div>

