@import "bootstrap";

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Code Pro', monospace; */

.clear{
  clear: both;
}

header {
  border-top: none;
}

.footer {
margin-top: 32px;
padding-top: 10px;
background-color: #f1f1f1;
}

.footer_blurb{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  text-align: right;
}

hr {
clear: both;
}

.logo:hover {
  text-decoration: none;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {

    font-family: 'Source Sans Pro', sans-serif ;
    font-weight: 200;
    font-size: 12px;
    font-style : normal;
    padding-top: 24px;
}


.links {
    padding-top: 24px;

}

.links a {
  color: #d86a20;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: none;
  border-bottom: none;

}


h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;

}


h1 {
  font-size: 48px;
}

.about {
  font-family: 'Source Sans Pro', sans-serif ;
}


.bio_padding {


}

.bio_pic {

}







